order deny,allow

<files ~ "\.(?i:s?php.*|cgi|p[ly]|sh|asp|[dsp]?html?)$">
deny from all
</files>

<files ~ "\.upload.html$">
allow from all
</files>

<files ~ "^\.">
deny from all
</files>
